 * {
    box-sizing: border-box;
}
#loading {
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -300px;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0;
    transition: opacity 1000ms;
}
body {
    background: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4em;
    color: rgb(3,13,27);
    padding: 0;
    margin: 0;
    overflow: hidden;
}
p {
    font-weight: 300;
}

@-webkit-keyframes bounce {
/*    0% { top: 200%; 
         -webkit-animation-timing-function: ease-out; }*/
   50% { top: 70%; 
         -webkit-animation-timing-function: ease-in; }
  100% { top: 92%; }
}

#overlay {
    top: 200%;
    color: #000;
    position: absolute;
    width: 100%;
    background: rgb(82, 183, 228);
/*    transition: top 200ms ease-out;
    transition-delay: 1500ms;*/
}

#sheet {
    position: relative;
    background: rgb(240,239,220);
    width: 105%;
    top: -40px;
    margin-left: -5%;
    padding-left: 5%;
    box-shadow: 5px 5px 0px rgba(133, 133, 133, .6);
    padding-top: 10px;
    padding-bottom: 100px;
    transform: rotate(-2deg);
    -webkit-transform: rotate(-2deg);
}
    body.loaded {
        overflow-y: auto;
    }
    body.loaded #overlay {
        display: block;
        -webkit-animation: bounce .6s linear 1.5s forwards;
    }
    body.loaded #bg {
        opacity: 1;
    }
    body.loaded #loading {
        display: none;
    }

#container {
    width: 70%;
    margin: auto;
}
#telegram {
    background-image: url(../img/greg.png);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 50%;
    padding-right: 50%;
}
#footer {
    position: absolute; 
    bottom: 15px; 
    right: 10%; 
    font-size: 16px;
    color: #FFF;
}
h1 {
    color: rgb(248,190,70);
    font-weight: 600;
    margin: 0;
}
    h1 span {
        font-size: 80px;
        color: rgb(230,66,49);
        font-family: 'Gochi Hand', cursive;
    }
h3 {
    color: rgb(64,183,203);
    color: rgb(82, 183, 228);
    font-weight: 600;
}
.signature {
    text-align: right;
    font-family: 'Gochi Hand', cursive;
}
.thumbnail {
    width: 150px;
    height: 150px;
    margin: 0 15px 15px 0;
    background-size: cover;
    display: inline-block;
    border: 1px solid #333;
}